body{	
    background-color: #597494;
    font-family: Helvetica, Arial, sans-serif;
}
    
#form{
	background-color: #597494;
	width: 800px;

}

#uitkomst{
	background-color: #597494;
	width: 800px;
	float: left;
	width: 70%
}
#nav{
    background-color: white;
	width:180px;
    float: left;
	height: 20px;
	width: 30%
}